<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
</head>
 
<body>
 
<div class="container">
    <h1>HOME</h1>
    <h2>PRUEBA LOGYCA</h2>
    <ul>
        <li>pulse <a href="numerosprimos?numero=1">aquí</a> aqui para numeros primos </li>
        <li>pulse <a href="primosgemelos?numero=1">aquí</a> aqui para numers primos gemelos </li>
    </ul>
 
</div>
 
</body>
     
</html>